
<%#include "post.h" %>
<%#include "blog.h" %>
<% tfetch(QVariantMap, post); %>
<% tfetch(QList<Blog>, blogs); %>

<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>New Post</h1>

<%== formTag(urla("create"), Tf::Post) %>
  <p>
    <label>Blog Title<br/>
    <select name="post[blogId]" selected="<%= post["blogId"] %>">
        <% foreach (Blog blog, blogs) { %>
        <option value="<%= blog.id() %>"><%= blog.title() %></option>
        <% } %>
    </select>
  </p>
  <p>
    <label>Title<br /><input name="post[title]" value="<%= post["title"] %>" /></label>
  </p>
  <p>
    <label>Content<br /><input name="post[content]" value="<%= post["content"] %>" /></label>
  </p>
  <p>
    <input type="submit" value="Create" />
  </p>
</form>

<%== linkTo("Back", urla("index")) %>

