
<%#include "blog.h" %>
<%#include "user.h" %>
<% tfetch(QVariantMap, blog); %>
<% tfetch(QList<User>, users); %>

<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>New Blog</h1>

<%== formTag(urla("create"), Tf::Post) %>
  <p>
    <label>Username<br />
    <select name="post[username]" selected="<%= blog["username"] %>">
        <% foreach (User user, users) { %>
        <option value="<%= user.username() %>" ><%= user.fullname() %></option>
        <% } %>
    </select>
  </p>
  <p>
    <label>Title<br /><input name="blog[title]" value="<%= blog["title"] %>" /></label>
  </p>
  <p>
    <label>Description<br /><input name="blog[description]" value="<%= blog["description"] %>" /></label>
  </p>
  <p>
    <input type="submit" value="Create" />
  </p>
</form>

<%== linkTo("Back", urla("index")) %>
